In [111]:
from pycellid.core import CellData
import numpy as np
from numpy.testing import assert_allclose
import re

In [364]:
df = CellData.from_csv('samples_cellid')

In [237]:
def create_test_object_minimum():
    df = CellData.from_csv('samples_cellid')
    df = CellData(df._path, df.head(3))
    df = df[['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp']]
    df = CellData(df._path, df)
    return df
rep_r = create_test_object_minimum()
rep_r

   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp
0    1        0       0         241.2194         12523.05
1    1        1       0         240.1235         12138.30
2    1        2       0         242.0784         11993.09

In [146]:
#repr_result ='   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp\n0    1        0       0         241.2194         12523.05\n1    1        1       0         240.1235         12138.30\n2    1        2       0         242.0784         11993.09'
spected = [
    '   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp',
    '0    1        0       0         241.2194         12523.05',
    '1    1        1       0         240.1235         12138.30',
    '2    1        2       0         242.0784         11993.09'
]

In [147]:
#repr(df[['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp']].head(3).values) == repr(df_t.values)

In [148]:
repr(rep_r).split('\n') == spected

True

In [149]:
parts = repr(rep_r).split('\n')
parts

['   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp',
 '0    1        0       0         241.2194         12523.05',
 '1    1        1       0         240.1235         12138.30',
 '2    1        2       0         242.0784         11993.09']

In [150]:
num = re.compile(r'-?\d+\.?\d*')

In [151]:
for i, val in enumerate(parts[1:]):
    n_parts = np.array([n for n in num.findall(val)], dtype=float)
    n_spect = np.array([n for n in num.findall(spected[i+1])], dtype=float)
    assert_allclose(n_parts, n_spect)

In [83]:
np.all((np.array(r_s[1:]) == np.array(repr_result[1:])))

True

In [131]:

#assert_allclose(np.array(r_s[1:]), np.array(repr_result[1:]))

In [99]:
numeric = [n for n in r_s[1].split(' ') if n.isnumeric()]

In [100]:
numeric

['0', '1', '0', '0']

In [98]:
d.isnumeric()

True

In [130]:
#r_s[1].split(' ')

In [108]:
r_s

['   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp',
 '0    1        0       0         241.2194         12523.05',
 '1    1        1       0         240.1235         12138.30',
 '2    1        2       0         242.0784         11993.09']

In [117]:
np.array([s for s in re.findall(r'-?\d+\.?\d*', r_s[1])], dtype=float)

array([0.000000e+00, 1.000000e+00, 0.000000e+00, 0.000000e+00,
       2.412194e+02, 1.252305e+04])

In [118]:
num = re.compile(r'-?\d+\.?\d*')

In [173]:
for n in range(1, len(r_s)):
    rep_i = np.array([s for s in num.findall(r_s[n])], dtype=float)
    spect = np.array([s for s in num.findall(r_s[n])], dtype=float)
    rep_i , spect

In [170]:
col = ['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp']
df[df.ucid == 100000000000][col].head(3)

   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp
0    1        0       0         241.2194         12523.05
1    1        1       0         240.1235         12138.30
2    1        2       0         242.0784         11993.09

In [177]:
s=rep_r._repr_html_().split("\n", 1)[1]

In [183]:
df

,pos,t_frame,ucid,cellID,time,xpos,ypos,a_tot,num_pix,fft_stat,...,f_nucl_tag6_tfp,f_nucl_tag6_yfp,f_local_bg_cfp,f_local_bg_rfp,f_local_bg_tfp,f_local_bg_yfp,f_local2_bg_cfp,f_local2_bg_rfp,f_local2_bg_tfp,f_local2_bg_yfp
0,1,0,100000000000,0,0,29,725,527.0,527,0.387982,...,1675334.0,54200.0,378.6183,240.4300,12571.83,312.5942,372.9697,241.2194,12523.050,310.0760
1,1,1,100000000000,0,0,31,725,614.0,614,0.443545,...,1473843.0,54020.0,383.6143,240.4676,12212.17,319.5286,377.4458,240.1235,12138.300,317.3976
2,1,2,100000000000,0,0,31,724,639.0,639,0.500724,...,1451150.0,46463.0,379.6064,241.2868,11988.62,322.5431,376.9560,242.0784,11993.090,323.3418
3,1,3,100000000000,0,0,31,725,688.0,688,0.591332,...,1566434.0,47871.0,390.2697,436.6727,11646.41,330.3378,391.3493,437.9252,11549.440,331.3429
4,1,4,100000000000,0,0,24,721,457.0,457,0.085026,...,1204067.0,52761.0,372.6058,241.3909,11593.46,330.6237,367.9105,242.5352,11503.960,329.0977
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18184,3,12,300000000720,720,0,802,736,147.0,147,0.556508,...,1237009.0,39586.0,520.8205,254.4151,10049.78,612.9800,522.1818,254.9767,10533.790,621.8302
18185,3,12,300000000721,721,0,840,707,391.0,391,0.040324,...,1053566.0,44035.0,477.8000,248.6977,11320.68,576.1446,463.5887,250.3025,11368.400,571.9272
18186,3,12,300000000722,722,0,915,827,587.0,587,0.672861,...,1534440.0,58636.0,508.6136,250.6716,9132.60,578.7262,509.0000,250.9851,9129.724,572.0000
18187,3,12,300000000723,723,0,986,336,119.0,119,0.494793,...,469596.0,36213.0,530.8571,250.7143,11290.47,423.6049,536.5789,251.0638,11238.870,423.4595
18188,3,12,300000000724,724,0,1014,84,120.0,120,0.827304,...,526434.0,127674.0,453.5542,249.6765,10899.60,716.8197,460.7500,248.6575,11796.740,903.9592

In [187]:
df[df.ucid==100000000000][['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp']]

    pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp
0     1        0       0         241.2194         12523.05
1     1        1       0         240.1235         12138.30
2     1        2       0         242.0784         11993.09
3     1        3       0         437.9252         11549.44
4     1        4       0         242.5352         11503.96
5     1        5       0         240.2014         11314.75
6     1        6       0         241.2385         10898.41
7     1        7       0         241.3916         10816.48
8     1        8       0         242.2746         10425.87
9     1        9       0         240.6556         10436.39
10    1       10       0         242.3295         10428.37
11    1       11       0         243.3364         10624.40
12    1       12       0         241.5934         10787.02

In [188]:
finall<th>0</th>\n

SyntaxError: invalid syntax (1665051019.py, line 1)

In [238]:
df_repr = rep_r._repr_html_()
df_repr

'<div class="PyCellID.core.CellData" id=140538198318816><div class="PyCellID.core.CellData" id=140538198317088><div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>pos</th>\n      <th>t_frame</th>\n      <th>cellID</th>\n      <th>f_local2_bg_rfp</th>\n      <th>f_local2_bg_tfp</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>0</td>\n      <td>0</td>\n      <td>241.2194</td>\n      <td>12523.05</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>1</td>\n      <td>1</td>\n      <td>0</td>\n      <td>240.1235</td>\n      <td>12138.30</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>1</td>\n      <td>2</td>\n      <td>0</td>\n      <td>242.0784</td>\n      <td>11993.09</td>\n    </tr>\n  </tbody>\n</table>\n</div>PyCellID.core.CellData - 3 rows x 5 columns</div>PyCellID.core.CellData - 3 rows x 5 columns</div>'

In [346]:
df_repr = df_repr.split("\n", 1)[1]
df_repr

'<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>pos</th>\n      <th>t_frame</th>\n      <th>cellID</th>\n      <th>f_local2_bg_rfp</th>\n      <th>f_local2_bg_tfp</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>0</td>\n      <td>0</td>\n      <td>241.2194</td>\n      <td>12523.05</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>1</td>\n      <td>1</td>\n      <td>0</td>\n      <td>240.1235</td>\n      <td>12138.30</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>1</td>\n      <td>2</td>\n      <td>0</td>\n      <td>242.0784</td>\n      <td>11993.09</td>\n    </tr>\n  </tbody>\n</table>\n</div>PyCellID.core.CellData - 3 rows x 5 columns</div>PyCellID.core.CellData - 3 rows x 5 columns</div>'

In [348]:
re.findall(df_repr,r'(<th>\d+</th>\n)')
#re.findall(r'-?\d+\.?\d*', r_s[1])

[]

In [354]:
l = re.compile(r'<th>\d+</th>').split(df_repr)

IndexError: list index out of range

In [341]:
df_repr.split(r'[<th>[\d+]/th>]')

['<div class="PyCellID.core.CellData" id=140538198318816><div class="PyCellID.core.CellData" id=140538198317088><div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>pos</th>\n      <th>t_frame</th>\n      <th>cellID</th>\n      <th>f_local2_bg_rfp</th>\n      <th>f_local2_bg_tfp</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>0</td>\n      <td>0</td>\n      <td>241.2194</td>\n      <td>12523.05</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>1</td>\n      <td>1</td>\n      <td>0</td>\n      <td>240.1235</td>\n      <td>12138.30</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>1</td>\n      <td>2</td>\n      <td>0</td>\n      <td>242.0784</td>\n      <td>11993.09</td>\n    </tr>\n  </tbody>\n</table>\n</div>PyCellID.core.CellData - 3 rows x 5 columns</div>PyCellID.core.CellData - 3 rows x 5 columns</div>']

In [193]:
repr_result = (
        '<style scoped>\n'
        '    .dataframe tbody tr th:only-of-type {\n'
        '        vertical-align: middle;\n'
        '    }\n'
        '\n'
        '    .dataframe tbody tr th {\n'
        '        vertical-align: top;\n'
        '    }\n'
        '\n'
        '    .dataframe thead th {\n'
        '        text-align: right;\n'
        '    }\n'
        '</style>\n'
        '<table border="1" class="dataframe">\n'
        '  <thead>\n'
        '    <tr style="text-align: right;">\n'
        '      <th></th>\n'
        '      <th>pos</th>\n'
        '      <th>t_frame</th>\n'
        '      <th>cellID</th>\n'
        '      <th>f_local2_bg_rfp</th>\n'
        '      <th>f_local2_bg_tfp</th>\n'
        '    </tr>\n'
        '  </thead>\n'
        '  <tbody>\n'
        '    <tr>\n'
        idx1'      <th>0</th>\n'
        '      <td>1</td>\n'
        '      <td>0</td>\n'
        '      <td>0</td>\n'
        '      <td>241.2194</td>\n'
        '      <td>12523.05</td>\n'
        '    </tr>\n'
        '    <tr>\n'
        idx2'      <th>1</th>\n'
        '      <td>1</td>\n'
        '      <td>1</td>\n'
        '      <td>0</td>\n'
        '      <td>240.1235</td>\n'
        '      <td>12138.30</td>\n'
        '    </tr>\n'
        '    <tr>\n'
        idx3'      <th>2</th>\n'
        '      <td>1</td>\n'
        '      <td>2</td>\n'
        '      <td>0</td>\n'
        '      <td>242.0784</td>\n'
        '      <td>11993.09</td>\n'
        '    </tr>\n'
        '  </tbody>\n'
        '</table>\n'
        '</div>PyCellID.core.CellData - 3 rows x 5 columns'
        '</div>PyCellID.core.CellData - 3 rows x 5 columns</div>'
        )

SyntaxError: invalid syntax (4287904663.py, line 28)

In [200]:
df_repr

'    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>pos</th>\n      <th>t_frame</th>\n      <th>cellID</th>\n      <th>f_local2_bg_rfp</th>\n      <th>f_local2_bg_tfp</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>0</td>\n      <td>0</td>\n      <td>241.2194</td>\n      <td>12523.05</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>1</td>\n      <td>1</td>\n      <td>0</td>\n      <td>240.1235</td>\n      <td>12138.30</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>1</td>\n      <td>2</td>\n      <td>0</td>\n      <td>242.0784</td>\n      <td>11993.09</td>\n    </tr>\n  </tbody>\n</table>\n</div>PyCellID.core.CellData - 3 rows x 5 columns</div>PyCellID.core.CellData - 3 rows x 5 columns</div>'

In [359]:
ucid = 100000000000
iloc = CellData(df._path, df[df.ucid==ucid].iloc[:3]).copy()
iloc

,pos,t_frame,ucid,cellID,time,xpos,ypos,a_tot,num_pix,fft_stat,...,f_nucl_tag6_tfp,f_nucl_tag6_yfp,f_local_bg_cfp,f_local_bg_rfp,f_local_bg_tfp,f_local_bg_yfp,f_local2_bg_cfp,f_local2_bg_rfp,f_local2_bg_tfp,f_local2_bg_yfp
0,1,0,100000000000,0,0,29,725,527.0,527,0.387982,...,1675334.0,54200.0,378.6183,240.4300,12571.83,312.5942,372.9697,241.2194,12523.05,310.0760
1,1,1,100000000000,0,0,31,725,614.0,614,0.443545,...,1473843.0,54020.0,383.6143,240.4676,12212.17,319.5286,377.4458,240.1235,12138.30,317.3976
2,1,2,100000000000,0,0,31,724,639.0,639,0.500724,...,1451150.0,46463.0,379.6064,241.2868,11988.62,322.5431,376.9560,242.0784,11993.09,323.3418

In [ ]:
df = CellData.from_csv('samples_cellid')

In [376]:
col = ['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp']
d = CellData(df._path, df[df.ucid==ucid].head(3)).copy()
d = d[col]
d

   pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp
0    1        0       0         241.2194         12523.05
1    1        1       0         240.1235         12138.30
2    1        2       0         242.0784         11993.09

In [377]:
d.reset_index()

   index  pos  t_frame  cellID  f_local2_bg_rfp  f_local2_bg_tfp
0      0    1        0       0         241.2194         12523.05
1      1    1        1       0         240.1235         12138.30
2      2    1        2       0         242.0784         11993.09

In [378]:
d.c

Index(['pos', 't_frame', 'cellID', 'f_local2_bg_rfp', 'f_local2_bg_tfp'], dtype='object')